## Terraform gitingore file

# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform plan files
*.tfplan

# Ignore .terraform directories
.terraform/
**/.terraform/*

# Terraform auto varaibles files
*.tfvars
*.auto.tfvars

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraforam crash log files
crash.log

# Terraform lock files
*.lock.hcl
*.lock.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
*.tfrc
